{
  "env": {
    "production": {
      "presets": ["next/babel"],
      "plugins": ["emotion"]
    },
    "development": {
      "presets": ["next/babel"],
      "plugins": [["emotion", { "sourceMap": true }]]
    }
  }
}
